.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(243, 242, 242);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p_brow {
  height: 30px;
  background-color: rgb(214, 213, 213);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p_circle1 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
  background-color: rgb(255, 0, 0);
}
.p_circle2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  background-color: rgb(255, 251, 0);
}
.p_circle3 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 3px;
  background-color: rgb(9, 255, 0);
}

.p_img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p_img {
  transform: translateY(-100%);
}
.project {
  font-weight: bold;
  margin-left: 5px;
}
@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }
  .project {
    font-size: 10px;
  }
}
